In [2]:
import pandas as pd

df = pd.read_csv('modified.csv')

       Unnamed: 0  Unnamed: 0.1          id     price  bedrooms  bathrooms  \
0               0             0  7129300520  221900.0         3       1.00
1               1             1  6414100192  538000.0         3       2.25
2               2             2  5631500400  180000.0         2       1.00
3               3             3  2487200875  604000.0         4       3.00
4               4             4  1954400510  510000.0         3       2.00
...           ...           ...         ...       ...       ...        ...
21608       21608         21608   263000018  360000.0         3       2.50
21609       21609         21609  6600060120  400000.0         4       2.50
21610       21610         21610  1523300141  402101.0         2       0.75
21611       21611         21611   291310100  400000.0         3       2.50
21612       21612         21612  1523300157  325000.0         2       0.75

       sqft_living  sqft_lot  floors  waterfront  view  condition  grade  \
0             1180      5650     1.0           0     0          3      7
1             2570      7242     2.0           0     0          3      7
2              770     10000     1.0           0     0          3      6
3             1960      5000     1.0           0     0          5      7
4             1680      8080     1.0           0     0          3      8
...            ...       ...     ...         ...   ...        ...    ...
21608         1530      1131     3.0           0     0          3      8
21609         2310      5813     2.0           0     0          3      8
21610         1020      1350     2.0           0     0          3      7
21611         1600      2388     2.0           0     0          3      8
21612         1020      1076     2.0           0     0          3      7

       sqft_above  sqft_basement  yr_built  yr_renovated
0            1180              0      1955             0
1            2170            400      1951          1991
2             770              0      1933             0
3            1050            910      1965             0
4            1680              0      1987             0
...           ...            ...       ...           ...
21608        1530              0      2009             0
21609        2310              0      2014             0
21610        1020              0      2009             0
21611        1600              0      2004             0
21612        1020              0      2008             0

[21613 rows x 17 columns]

In [1]:
"""
Extenso:
Quais casas o CEO da House Rocket deveria comprar e reformar para aumentar o preço de venda? 
Quais seriam as sugestões de mudanças? 
Qual o incremento no preço dado pela reforma? 
"""
print(df)

NameError: name 'df' is not defined

In [4]:
"""
Quais casas o CEO da House Rocket deveria comprar? 
Todas as casas com price <= 2000000, bedroooms >= 3, bathrooms >= 2, sqft_lot >= 500000, view >= 2, e yr_renovated == 0
"""

df_mask1=df['price']<=2000000
df_mask2=df['bedrooms']>=1
df_mask3=df['bathrooms']>=2
df_mask4=df['sqft_lot']>=500000
df_mask5=df['view']>=1
df_mask6=df['yr_renovated']==0
filtered_df = df[df_mask1 & df_mask2 & df_mask3 & df_mask4 & df_mask5 & df_mask6]
print(filtered_df)

       Unnamed: 0  Unnamed: 0.1          id      price  bedrooms  bathrooms  \
2964         2964          2964  2322029048   999000.0         3       2.75
7077         7077          7077  2724079090  1650000.0         4       3.25
17825       17825         17825  2220069003   425000.0         3       2.75
20452       20452         20452  1125079111  1600000.0         4       5.50

       sqft_living  sqft_lot  floors  waterfront  view  condition  grade  \
2964          2830    505166     1.0           1     3          4      8
7077          3920    881654     3.0           0     3          3     11
17825         1360    542322     1.0           0     2          4      7
20452         6530    871200     2.0           0     2          3     11

       sqft_above  sqft_basement  yr_built  yr_renovated
2964         1830           1000      1962             0
7077         3920              0      2002             0
17825        1140            220      1955             0
20452        6530              0      2008             0