In [5]:
import pandas as pd

df = pd.read_csv('modified.csv')

In [16]:
"""
3 clientes distintos apareceram na corretora e estipularam os detalhes que gostariam de encontrar numa casa 
1 - 5 quartos, 3 banheiros, 2 andares, 2 pontos de vista
2 - Menos de 550.000,00, 4 quartos, 2 banheiros, 1 andar, 3 pontos de vista e construida ou reformada depois do ano de 2005 
3 - Menos de 350.000,00, 2 quarto, 2 banheiros, 1 andar, 3 pontos de vista e construida ou reformada  entre 1990 e 2010
"""
"""
#1-
df_mask0=df['bedrooms']==5
df_mask1=df['bathrooms']==3
df_mask2=df['floors']==2
df_mask3=df['view']>=2
filtered_df = df[df_mask0 & df_mask1 & df_mask2 & df_mask3]
print(filtered_df)
"""
"""
#2-
df_mask0=df['price']<=550000
df_mask1=df['bedrooms']==4
df_mask2=df['bathrooms']==2
df_mask3=df['floors']==1
df_mask4=df['view']>=3
df_mask5=df['yr_built']>=2006
filtered_df = df[df_mask0 & df_mask1 & df_mask2 & df_mask3 & df_mask4 & df_mask5]
print(filtered_df)
"""
"""
#3-
df_mask0=df['price']<=350000
df_mask1=df['bedrooms']==3
df_mask2=df['bathrooms']==2
df_mask3=df['floors']==1
df_mask4=df['view']==3
df_mask5=df['yr_built']>=1990 
filtered_df = df[df_mask0 & df_mask1 & df_mask2 & df_mask3 & df_mask4 & df_mask5]
print(filtered_df)
"""

"\n#3-\ndf_mask0=df['price']<=350000\ndf_mask1=df['bedrooms']==3\ndf_mask2=df['bathrooms']==2\ndf_mask3=df['floors']==1\ndf_mask4=df['view']==3\ndf_mask5=df['yr_built']>=1990 \nfiltered_df = df[df_mask0 & df_mask1 & df_mask2 & df_mask3 & df_mask4 & df_mask5]\nprint(filtered_df)\n"